[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Android Maintainers
	label-Verified = -1..+0 group Android Maintainers
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group mdb/carrier-id-releaser
	submit = group Android Maintainers
	label-Autosubmit = +0..+1 group mdb/carrier-id-releaser
	label-Code-Review = -1..+1 group mdb/carrier-id-releaser
	label-Presubmit-Ready = +0..+1 group mdb/carrier-id-releaser
	read = group mdb/carrier-id-releaser
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
